:root{
    --primaryColor:rgb(130, 0, 237);
    --HoverColor:  rgb(110, 24, 180);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl (0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);   
  }


  .FaArrowUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2.2rem;
    color: #fff;
    background-color: var(--primaryColor);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  
  .FaArrowUp.show {
    opacity: 1;
  }
  
  